@{
    ViewBag.Title = "Empleado";
}
<div>
    <h6 class="display-4 mt-4 fw-bold text-center mb-5">Detalles empleado / @Model.Names @Model.LastNames</h6>
    <div class="row">
        <div class="col-md-3 border container-left">
            <a class="btn btn-secondary" asp-area="" asp-controller="Jobs" asp-action="Create">Registrar nuevo empleado</a>
            <a class="btn btn-primary" asp-area="" asp-controller="Jobs" asp-action="Index">Listado de empleados</a>
        </div>
        <div class="col-md-8 container-right">
            <div>
            @* <div><img src="@Model.ProfilePicture" alt=""></div> *@
            <h4>@Model.Names @Model.LastNames</h4>
            <p>@Model.Email</p>
            </div>

            <div>
                <table>
                    <tr>
                        <td>Telefono: @Model.Phone</td>
                        <td>Direccion: @Model.Address</td>
                        <td>Fecha nacimiento: @Model.BirthDate</td>
                    </tr>
                    <tr>
                        <td>Genero: @Model.Gender</td>
                        <td>Estado civil: @Model.CivilStatus</td>
                        <td>Salario deseado: @Model.Salary</td>
                    </tr>
                    <tr>
                        <td>Titulo: @Model.AcademicTitle</td>
                        <td>Idiomas: @Model.Languages</td>
                        <td>Area: @Model.Area</td>
                    </tr>
                    </tr>
                </table>
                <a class="btn btn-info" download href="~/docs/@Model.Cv">Descargar hoja de vida</a>
            </div>
            
        </div>
    </div>
</div>