@{
    ViewBag.Title = "Jobs";
}

<table class="table table-dark table-striped table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name Companie</th>
            <th>Logo Company</th>
            <th>Offer Title</th>
            <th>Description</th>
            <th>Salary</th>
            <th>Positions</th>
            <th>Status</th>
            <th>Country</th>
            <th>Languages</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var job in Model)
        {
            <tr>
                <td>@job.ID</td>
                <td>@job.NameCompany</td>
                <td>@job.LogoCompany</td>
                <td>@job.OfferTitle</td>
                <td>@job.Description</td>
                <td>@job.Salary</td>
                <td>@job.Positions</td>
                <td>@job.Status</td>
                <td>@job.Country</td>
                <td>@job.Languages</td>
            </tr>
        }
    </tbody>
</table>