@{
    ViewBag.Title = "Jobs";
}
<div>
    <h6 class="display-4 mt-4 fw-bold text-center mb-5">Listado de ofertas de empleo</h6>
    <div class="row">
        <div class="col-md-3 border container-left">
            <a class="btn btn-secondary" asp-area="" asp-controller="Jobs" asp-action="Create">Crear oferta de empleo</a>
            <a class="btn btn-primary" asp-area="" asp-controller="Jobs" asp-action="Index">Listado de ofertas</a>
        </div>
        <div class="col-md-8 container-right">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Buscar..."
                    aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-outline-primary" type="button" id="button-addon2">Buscar</button>
            </div>
            <table class="table-list">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name Companie</th>
                        <th>Logo Company</th>
                        <th>Offer Title</th>
                        <th>Description</th>
                        <th>Salary</th>
                        <th>Positions</th>
                        <th>Status</th>
                        <th>Country</th>
                        <th>Languages</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var job in Model)
                    {
                        <tr>
                            <td>@job.ID</td>
                            <td>@job.NameCompany</td>
                            <td><img src="~/img/@job.LogoCompany" alt="" style="width: 50px;"></td>
                            <td>@job.OfferTitle</td>
                            <td>@job.Description</td>
                            <td>@job.Salary</td>
                            <td>@job.Positions</td>
                            <td>@job.Status</td>
                            <td>@job.Country</td>
                            <td>@job.Languages</td>
                            <td>
                                <a asp-action="Show" asp-route-id="@job.ID">Detalles</a>
                                <a asp-action="Delete" asp-route-id="@job.ID">Borrar</a>
                                <a asp-action="Update" asp-route-id="@job.ID">Actualizar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>